.mypage-side {
  font-size: 18px;
  display: block;
  background-color: #f2f2f2;
  width: 20vw;
  height: 100vh;
}
.mypage-side-box {
  font-size: 16px;
  font-weight: bold;
  &__exhibition {
    margin-bottom: 20px;
    padding-left: 0;
    a {
      text-decoration: none;
      color: blue;
    }
  }
  &__inf {
    margin-bottom: 20px;
    padding-left: 0;
    a {
      text-decoration: none;
      color: blue;
    }
  }
  &__plofile {
    margin-bottom: 20px;
    padding-left: 0;
    a {
      text-decoration: none;
      color: blue;
    }
  }
  &__card {
  margin-bottom: 20px;
    padding-left: 0;
    a {
      text-decoration: none;
      color: blue;
    }
  }
  &__logout {
    margin-bottom: 20px;
    padding-left: 0;
    a {
      text-decoration: none;
      color: blue;
    }
  }
}