
.mypage_contents {
  display: flex;
  background-color: white;
}
.mypage-main {
  float: right;
  margin: 0 400px;
  &__name {
    font-size: 30px;
    background-image: url();
  }
  &__exhibited {
    border: 0;
    font-size: 20px;
    margin: 30px 0;
    width: 400px;
    height: 500px;
    overflow: scroll;
  }
}
.mypage-images {
  height:330px;
  width: 220px;
  margin: 10px 5px;
  display: inline-block; 
  background-color: #fff;
}
.mypage-img {
  height: 100%;
  width: 100%;
}
.mypage-details {
  font-size: 16px;
}
.mypage-tax {
  font-size: 10px;
  text-align: left;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}