// コードレビュー願います
// 見た目のビューなので関数式などは入っていないです
%header.taitolhead
  .taitolhead__headna
    .taitolhead__headna__headmai
      %h1.taitolhead__headna__headmai__icon1
        = link_to '/' do
          = image_tag ("logo.png") 
      .taitolhead__headna__headmai__kenbox
        %input{type: "text", class: "taitolhead__headna__headmai__input-box", "placeholder": "キーワードから探す"}
        .taitolhead__headna__headmai__input-isu
          = link_to '#' do
            = image_tag ("icon-search 1.png")
    .taitolhead__headna__navi
      %ul.taitolhead__headna__navi__list
        %li.taitolhead__headna__navi__list__li1 
          %a{href: '#' , id: 'btn1'} カテゴリー
        %li.taitolhead__headna__navi__list__li2
          %a{href: '#' , id: 'btn2'} ブランド
      %ul.taitolhead__headna__navi__list2
        %li.taitolhead__headna__navi__list2__lis3
          %a{href: '#' , id: 'btn3'} ログイン
        %li.taitolhead__headna__navi__list2__lis4
          %a{href: '#' , id: 'btn4'} 新規会員登録 