%body
  %header.taitolhead
    .headna 
      .headmai
        %h1.icon1
          = link_to '#' do
            = image_tag ("logo.png") 
        .kenbox
          %input{type: "text", class: "input-box__text", "placeholder": "キーワードから探す"}
          %input{type: "submit", class: "input-box__isu", }