%body
  %header.taitolhead
    .headna 
      .headmai
        %h1.icon1
          = link_to '#' do
            = image_tag ("logo.png") 
        .kenbox
          %input{type: "text", class: "input-box__text", "placeholder": "キーワードから探す"}
          %input{type: "submit", class: "input-box__isu", } 
.exhibition
  .exhibition_main
    .exhibition__1st
      .exhibition__1st__images
      .exhibition__1st__name
      .exhibition__1st__text
    .exhibition__2nd
      .exhibition__2nd__category
      .exhibition__2nd__brand
      .exhibition__2nd__status
    .exhibition__3rd
    .exhibition__4th
    .exhibition__5th
  .exhibition_bottom

    