.main{
  width: 100vw;
  padding: 50px 100px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}
.content{
  width: 1000px;
  padding: 50px 200px;
  .content-box{
    background-color: white;
    padding: 20px 40px;
  }
}
.image{
  text-align: center;
  .image__name{
    font-size: 24px;
    font-weight: bold;
  }
  .image__top{
    .image__top__1{
      text-align: center;
      object-fit: cover;
      height: 346px;
    }
  }
  
}
.image__bottom{
  display: flex;
  justify-content: center;
}
.price{
  text-align: center;
  .price__integer{
    font-size: 46px;
    font-weight: bold;
  }
  .price__index{
    margin-bottom: 30px;
  }
}
        
.text{
  display: flex;
  // padding: 5px 250px;
  margin-bottom: 30px;
  .text-form{
  // width: 800px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  }
}
.index{
  width: 100%;
  font-size: 18px;
  table{
    width: 100%;
    border: 1px solid black;
    tr{
      th{
        width: 30%;
        background-color:#eee;
        text-align: center;
        padding: 8px;
        border: 1px solid #dedede;
      }
      td{
        padding-left: 15px;
        border: 1px solid #dedede;
      }
    }
  }
}
.buy{
  display: flex;
  justify-content: center;
  a{
    text-decoration: none;
  }
}
.buy-btn{
  padding: 10px;
  text-decoration: none;
  background-color: cyan;
  color:black;
  border-bottom: solid 4px #627295;
  border-radius: 20px;
  font-size: 50px;
  width: 500px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}
.buy-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.option{
  display: flex;
  justify-content: space-between;
}
.option-like{
  display: flex;
  align-items: center;
  border: 1px solid orange;
  border-radius: 40px;
  padding: 5px;
  .option__btn{
    color: #3CCACE;
  }
  .favorite{
    font-size: 20px;
    color: #3CCACE;
    margin-left: 5px;
  }
}
.option-caution{
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px black solid;
  border-radius: 10px;
  .caution{
    font-size: 15px;
    margin-left: 5px;
  }
}
.comment{
  margin-top: 10px;
  padding: 24px;
  background-color: white;
}
.comment-form{
  margin-top: 20px;
}
  .comment-form__text{
    min-height: 100px;
    min-width: 550px;
  }
  .comment-form__attention{
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
  }
  .comment-form__btn{
    position: relative;
    display: flex;
    justify-content: center;
  }
    .comment-form__send{
      width: 60%;
      line-height: 48px;
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      color: white;
      font-size: 18px;
      border-radius: 100px;
    }
    .comment-form__icon{
      color: white;
      position: absolute;
      left: 150px;
      top: 17px;
    }
  

.next-link{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  .btn{
    text-decoration: none;
    color: #3CCACE;
  }
}
.comments{
  margin-top: 10px;
  padding: 24px;
  background-color: white;
  overflow: scroll;
  height: 90px;
  a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
}
.commentscc{
  margin-bottom: 10px;
  margin-left: 10px;
}
.related-items{
  .related-items-category{
    margin: 24px 8px;
    font-size: 22px;
    font-weight: bold;
    color: #3CCACE;

  }
  .product__lists{
    .product__list{
      width: calc(100%/3);
      text-decoration: none;
      .product__list__image{
        width: 100%;
        height: 150px;
      }
    }

  }
}

.product__list__body{
  background-color: white;
  color: black;
  padding: 16px;
  font-weight: bold;
  .product__list__body__name{
    // display: flex;

  }
  .product__list__body__details{
    display: flex;
    justify-content: space-between;
    .product__list__body__details__price{

    }
    .product__list__body__details__price{

    }

  }
  .product__list__body__tax{
    font-size: 10px;
    text-align: left;
  }

} 

.delete{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
  width: 130px;
}
.delete-btn{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.delete a {
    text-decoration: none;
}

.edit{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
  width: 130px;
}
.edit-btn{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.edit a {
    text-decoration: none;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
}

