.form1{
  height: 100vh;
  padding:0 50px;
  width: 1450px;
  background-color:#EEEEEE	;
  
  .contents{
    width: 1300px;
    display: flex;
    
  }
}
  .constraint{
    display: flex;
    
  }

  .images{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  }
  
  .imageindicate{
    width:110px;
  }
  .imagemust{
    color: red;
    margin-left: 5px;
    width: 100px;
  }
  .listing-form-box{
    margin-top: 40px;
  }
  .hidden-content{
  padding: 0 40px;
  display: flex;
  padding-top: 15px;
  justify-content: space-around;
  }


.name1{
  margin-top: 30px;
  margin-bottom: 16px;
  padding-top: 15px;

}
    .item{
      display: flex;
      justify-content: space-around;
      padding: 0 80px;
      .iteminfo{
        display: flex;
        &__name{
          color:black;
          width: 120px;

        }
        &__must{
          color: red;
          margin-left: 5px;
          width: 100px;
        }
      }
      .nameform{
        width: 400px;
        background-color: white;
      }
    }
.explain{
  margin-bottom: 16px;
  padding-top: 15px;
}

.explainform{
  height: 150px;
  width:400px
}

  
  
.listing-product-detail__category{
  text-align: center;
}
.listing-default--require{
  color: red;
  margin-left: 5px;
  width: 100px;

}
.brand{
  margin-bottom: 16px;
  margin-top: 25px;
}

.status{
  margin-bottom: 16px;
}

.statuscontent{
  display: flex;
  justify-content: space-between;
  padding-left: 168px;
  padding-right: 405px;
  .statusinfo{
    display: flex;
    &__name{
      color:black;
      width: 120px;

    }
    &__must{
      color: red;
      margin-left: 5px;
      width: 100px;
    }
  }
  .statusform{
    width: 400px;
    background-color: white;
  }
}

.area{
  margin-bottom: 16px;
  
}
.areacontent{
  display: flex;
  justify-content: space-between;
  padding-left: 168px;
  padding-right: 490px;
  .areainfo{
    display: flex;
    &__name{
      color:black;
      width: 120px;

    }
    &__must{
      color: red;
      margin-left: 5px;
      width: 100px;
    }
  }
  .areaform{
    width: 400px;
    background-color: white;
  }
}
.limit{
  margin-bottom: 16px;
}

.limitcontent{
  display: flex;
  justify-content: space-between;
  padding-left: 168px;
  padding-right: 467px;
  .limitinfo{
    display: flex;
    &__name{
      color:black;
      width: 120px;

    }
    &__must{
      color: red;
      margin-left: 5px;
      width: 100px;
    }
  }
  .limitform{
    width: 400px;
    background-color: white;
  }
}
.delivery_cost {
  margin-bottom: 16px;
}

.deliverycontent{
  display: flex;
  justify-content: space-between;
  padding-left: 168px;
  padding-right: 412px;
  .deliveryinfo{
    display: flex;
    &__name{
      color:black;
      width: 120px;

    }
    &__must{
      color: red;
      margin-left: 5px;
      width: 100px;
    }
  }
  .deliveryform{
    width: 400px;
    background-color: white;
  }
}
.price{
  margin-bottom: 16px;
}

.pricecontent{
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 173px;
  .priceinfo{
    display: flex;
    &__name{
      color:black;
      width: 120px;

    }
    &__must{
      color: red;
      margin-left: 5px;
      width: 100px;
    }
  }
  .priceform{
    width: 400px;
    background-color: white;
  }
}
.new{
  text-align: center;
  margin-top: 30px;
  
}
.newbtn{
  background-color: red;
  width: 200px;
}
