.exhibition{ 
}

.exhibition_main{

}

.exhibition__1st{
  &__images{
    height: 200px;
    

  }
  &__name{
    height: 200px;

  }
  &__text{
    height: 200px;

  }
}

.exhibition__2nd{
  &__category{
    height: 200px;
    

  }
  &__brand{
    height: 200px;

  }
  &__status{
    height: 200px;

  }

}

.exhibition__3rd{
  &__images{
    height: 200px;
    

  }
  &__name{
    height: 200px;

  }
  &__text{
    height: 200px;

  }

}

.exhibition__4th{
  &__images{
    height: 200px;
    

  }
  &__name{
    height: 200px;

  }
  &__text{
    height: 200px;

  }

}

.exhibition__5th{
  &__images{
    height: 200px;
    

  }
  &__name{
    height: 200px;

  }
  &__text{
    height: 200px;

  }

}

.exhibition_bottom{
  height: 200px;

}