.pickupContainer1{
  background-color: #f8f8f8;
  width: 1350px;
  height: 100%;
  margin: 0 auto;
}
 
 
.pickupContainer{
  
    background-color:#f8f8f8;
    width: 1350px;
    height: 100%;
    margin: 0 auto;
    display: block;
}


.item_head{
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.productBox{
  justify-content: space-between;
  
}
.productHead{
  margin-left: 180px;
  text-align: center;
  display: inline-block;
}
.productList1{
  height:300px;
  width: 220px;
  margin: 10px 10px;
  display: inline-block; 
  background-color: #fff;
  img{
    height: 100%;
    width: 100%;
  }
}
.productHeads{
  display: inline-block;
  text-align: center;
}

.link{
  text-decoration: none;
}

.link:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
.productLists{
  width: 780px;
  margin: 26px auto;
  justify-content: space-around;
}

.productList{
  height:330px;
  width: 220px;
  margin: 10px 5px;
  display: inline-block; 
  background-color: #fff;
  img{
    height: 100%;
    width: 100%;
  }
}
       h3{
          font-weight: bold;
          font-size: 100%;
          margin: 0;
          padding: 0;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      
        .name{
          font-size: 20px;
        }
 
      .productList.link{
        display: inline-block;
      }

      .productLists.link{
        text-decoration: none;
        position: relative;
      } 
      figure {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
      }
        .productList--img {
          width: 100%;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
        }
      

      .details{
        font-size: 16px;
      
      ul{
        display: flex;
        list-style: none;
      }

      li{
        display: list-item;
        text-align: -webkit-match-parent;
      }
    }
    i{
      padding-left: 30px;
    }
      .tax {
        font-size: 10px;
        text-align: left;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    
      .fa-star:before {
        content: "\f005";
      }

      .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      .pagenation{
        font-size: 20px;
        text-align: center;
        height: 100px;
        margin: auto;
        margin-top: 30px;
        font-size: 20px;
      }

      .pagination a:hover {        
        color: #3CCACE;
        font-size: 30px;
        text-decoration: none;
      }


  .productBoxes{
    display: flex;
    justify-content: center;
  }
  .topic{
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #3CCACE;
  }
  .item-box_photo__sold{ 
      padding-bottom:0;
      width: 0;
      height: 0px;
      border-top: 75px solid #ea352d ;
      border-right: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid #ea352d ;
      z-index:100;
      position: absolute;
      top:0px;
      &__inner{
        transform: rotate(-45deg);
        font-size: 28px;
        margin:-40px 0px 0px -55px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 600;
    }
  }
.productList1{
  position: relative;
}

.productList{
  position: relative;
}
.items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 70px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: absolute;
  top:0px;
    &__inner{
      transform: rotate(-45deg);
      font-size: 28px;
      margin:-35px 0px 0px -55px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
  }
 }



